.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.cart{
    background-color: rgb(240, 213, 213);
    margin: 100px 10px;
    height: 600px;
    border-radius: 10px;
    box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}


@media (max-width: 768px) {
    .shop-container{
        display: grid;
        grid-template-columns: 1fr;
        /* z-index: 0; */
    }
    .product-container{
        display: grid;
        grid-template-columns: 1fr;
        /* z-index: 1; */
    }
}